body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient( rgb(247, 245, 246), );
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
 .header{
    background-color: rgb(224, 11, 11);
    background-size: cover;
}
.header .container{
    padding: 20px;
}
b:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }

.container .card-deck {
    margin-top: 5px;
}
.container h4{
    color: cadetblue;
    font-size: x-large;
    font-weight: 800 !important;
}
.row .container-space{
    padding: 5px;
}
.card-header{
    font-stretch: normal;
    background-color: rgb(87, 79, 79);
    position: relative;
}
.card-body{
    background-attachment: fixed;
    background-color: silver;
}